<div class="container col-md-11 " style="color: #712C6B">
  <div class="row">
    <div class="col col-md-2 para1 mt-4">
      User Profile
    </div>
    <div class="col ml-5 mt-4">(LastUpdatedOn :{{frontDeskData.updated_at}})</div>
    <hr>
  </div>
  <div class="row">
    <div class="col col-sm-1">
      <img
        src="\assets\images\thumbnail_healthicons_ui-user-profile-negative.png"
        alt="profile" class="mt-1 profile-image">
    </div>
    <div class="col-sm-2">
      <p class="mt-1">{{frontDeskData.name}}</p>
      <p class="">frontdesk</p>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <ul>
        <dd>First Name</dd>
        <dt class="mb-4">{{frontDeskData.name}}</dt>
        <dd>Date Of Birth</dd>
        <dt class="mb-4">{{frontDeskData.dob}}</dt>
        <dd>E-mail address</dd>
        <dt class="mb-4">{{frontDeskData.email}}</dt>
        <dd>Employee ID</dd>
        <dt class="mb-4">00{{frontDeskData.id}}</dt>
        <dd>Employee Designation</dd>
        <dt class="mb-4">-</dt>
        <dd>PCP Name</dd>
        <dt class="mb-3">{{pcp}}</dt>
        <dd>Immediate Manager</dd>
        <dt class="">-</dt>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-4">
          <ul>
            <dd>Last Name</dd>
            <dt class="mb-4">{{frontDeskData.name}}</dt>
            <dd>Contact Number</dd>
            <dt class="mb-4">{{frontDeskData.phoneNumber}}</dt>
            <dd>Address</dd>
            <dt class="mb-5">{{frontDeskData.address}}</dt>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul>
            <dd>Gender</dd>
            <dt class="mb-4">-</dt>
            <dd>SSN</dd>
            <dt>-</dt>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul>
            <dd>Created On</dd>
            <dt class="mb-4">{{frontDeskData.created_at}}</dt>
            <dd>Created By</dd>
            <dt class="mb-4">{{frontDeskData.name}}</dt>
            <dd>Last Updated On</dd>
            <dt class="mb-4">{{frontDeskData.updated_at}}</dt>
            <dd>Last Updated By</dd>
            <dt class="mb-4">-</dt>
          </ul>
        </div>
      </div>
      <div class="col-md-9 card-border">
        <div class="col text-center">
          <div class="row mt-3">
            <div class="col-sm-7 text-end">Employee ID Document</div>
            <div class="col-sm-5">Employee ID.pdf<span class="text-end"><img
                  src="\assets\images\bxs_download.png" role="button"
                  style="width:30px" class="ml-2 border-0"></span></div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-7 text-end">ID Proof(Drivers Licence/State ID)</div>
            <div class="col-sm-5">Drivers licence.pdf<span class="text-end"><img
                  src="\assets\images\bxs_download.png" role="button"
                  style="width:30px" class="ml-2 border-0"></span></div>
          </div>
          <div class="row mt-3 mb-3">
            <div class="col-sm-7 text-end">Profile Image</div>
            <div class="col-sm-5">Profile image.png<span class="text-end"><img
                  src="\assets\images\bxs_download.png" role="button"
                  style="width:30px" class="ml-2 border-0"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
