<div class="custom">
 <div class="row  w-100 ">
  <div class="col para1 mt-5 ml-5">
    Patient Profile
  </div>

  <div class="col-4 mt-5">
    <a routerLink="/patient/new"><h3 class="style ml-5"><img
      src="\assets\images\ant-design_plus-circle-outlined.png"
      style="width: 25px; border-radius: 5px;">AddNew Patient</h3></a>
  </div>
</div>


<div class=" container col-md-11">
   
    <!-- <div class="row">
    <div class="col-3" > <span >Patient List</span> </div>
       
      <div class="col-3 ">
        
        <a routerLink="/patient/new"><h3 class="style"><img
              src="\assets\images\ant-design_plus-circle-outlined.png"
              style="width: 25px; border-radius: 5px;">AddNew Patient</h3></a>
      </div>
    </div> -->
   
   
    <hr>
 
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>First Name</th>
              <th>LastName</th>
              <th>Dob</th>
              <th>SocialSecurityNumber</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{patientsData.First_Name }}</td>
              <td>{{patientsData.Last_Name }}</td>
              <td>{{patientsData.Date_of_birth }}</td>
              <td>{{patientsData.Ssn }}</td>
            </tr>
            <tr>
              <th>Email </th>
              <th>contactNumber</th>
              <th>Address</th>
              <th>Created on</th>
  
            </tr>
            <tr>
              <td>{{patientsData.Email_address | uppercase}}</td>
              <td>{{patientsData.Contact_Number}}</td>
              <td class="col-3">{{patientsData.Address_Line1 | uppercase}},{{patientsData.Address_Line1}}<br>{{patientsData.City}},
                {{patientsData.State}} <br> {{patientsData.Country}} -
                {{patientsData.Zipcode}}</td>
              <td>{{patientsData.created_at }}</td>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      
      <div class="row mb-5" >
        <div class="ml-3 col-2">
        <button  class="btn btn-primary" routerLink="/patient/new/{{patientsData.id}}" >Edit Patient Details</button>
        </div>
        <div class="col-6">
        <button  class="btn btn-primary ml-md-auto  d-md-flex" routerLink="/patient/survey-form/{{patientsData.id}}">Add New PPT Survey Form</button>
      </div>
      
        <div class="">
          <h1 class="mt-5" style="color:#712C6B;font-weight: bold;">History</h1>
          <hr>
         
       <div class="row d-flex justify-content-end mr-5">
        <span class="col-md-1 d-flex justify-content-end mt-2" style="color:#712C6B;font-weight: bold;">From</span>
         <div class="col-md-3 has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="date" [(ngModel)]="dateModel.fromDate" class="form-control">
      </div>
      <span class="col-md-1 d-flex justify-content-end mt-2" style="color:#712C6B;font-weight: bold;">To</span>
      <div class="col-md-3 has-search ">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="date" [(ngModel)]="dateModel.toDate" class="form-control">
      </div>
    </div>
  
     <ng-container *ngFor="let patientsRecordData of patientsData.patient_entry_records | slice:0:5 | dateSearch:dateModel ">
      <div class="row mt-2 mx-5 border ">
      
        <div class="col-md-1 ml-5  mt-3" >
            <p>Record Id</p><p class="mt-0">{{patientsRecordData.id}}</p>
        </div>
        <div class="col-md-2 mt-3">
            <p>  Visited On</p><p>{{patientsRecordData.Visit_time}}</p>
        </div>
        <div class="col-md-3 mt-4 ml-5 ">
            <a routerLink="/patient/patient-report/{{patientsRecordData.id}}"  class="btn-lg active border " role="button" aria-pressed="true" style="color: #712C6B;">Patient Report</a>
          <img src="\assets\images\bxs_download.png"role="button" style="width:30px" class="ml-2 border-0">
        </div>
        <div class="col-md-3 mt-4 ml-3 ">
          <button class="btn-lg active border " routerLink="/patient/patient-report/{{patientsRecordData.id}}"   style="color: #712C6B;">Physian Report</button>
        <img src="\assets\images\bxs_download.png"role="button" style="width:30px ;" class="ml-2 border-0">
      </div>
    <div class=" col-md-4 ml-5">
      <p>PCP : {{patientsRecordData.PCP_Name}}</p>
    </div>
  </div>
  
  </ng-container>
</div>
  </div>
  </div>
</div>
  
  