*{
    color: rgb(83, 4, 83);
    
}
.custom{
  /* background: linear-gradient(270deg, #FFFFFF 69.85%, rgba(255, 255, 255, 0.65) 88.24%, rgba(217, 217, 217, 0) 111.76%); */
    overflow-y: scroll;
    height: calc(90vh);
    width: 100%;
  }

/* input[type=radio] {
    padding: 0.4em;
    -webkit-appearance: none;
    outline: 0.1em solid black;
    outline-offset: 0.1em;
    border-radius: 1px;
  }
  
  input[type=radio]:checked {
    display: inline-block;
    background-color: rgb(9, 172, 201);
  } */
  input[type="radio"]{
    appearance: none;
    border: 1px solid #747070;
    width: 20px;
    height: 20px;
    content: none;
    outline: none;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
 }
 
 input[type="radio"]:checked {
   appearance: none;
   outline: none;
   padding: 0;
   content: none;
   border: none;
 }
 
 input[type="radio"]:checked::before{
   position: absolute;
   color: rgb(248, 252, 249) !important;
   content: "\00A0\2713\00A0" !important;
   background-color: #28a745;
   border: 1px solid #3e3f3e;
   font-weight:bold;
   font-size: 12px;
   border-radius: 3px;
 }

  #years, #months, #days:focus{
      width: 50px;
      
  }
  #age{
    width: 15%;
  }
 .container{
   font-size: 12px;
   
 }
 span{
   font-size: 12px;
 }
 p{
   
   font-weight: bold;
  font-size: 16px;
 }
 .form-control{
  border-color:black;
  width: 50%;
 }

table{
  width: 80%;
}
.text-danger{
  font-size: 12px;
}
 .error{
   padding-top: 7px;
  font-size: 20px;
  height: 60px;
  border-radius: 10px;
 }
 input:required:invalid {
  border-color: #c00000;
}


.on{
  fill: rgb(133, 133, 236);
}
#checkbox{
  margin-left: 25%;
}
button{
    background-color:  rgb(83, 4, 83);
    color: aliceblue;
  }

  
  form{
    width: 50%;
    
  }
  