
#name{
    padding:10px;
    border-radius: 10px;
   
   
  }
  #pwd{
    padding:10px;
    border-radius: 10px;
    margin-left: 20px;
  
  }
  #login{
    background-color: #0d2746;
    color: white;
    border-radius: 5px;
    padding:5px;
    font-size: 20px;
  }
  #n1{
    font-size: 20px;
    padding-right: 50px;
   
  }
  #n2{
    padding-right: 10px;
    font-size: 20px;
  
  }
  
  #h1{
    border-bottom: 2px solid ;
  }
  .nav-link{
    font-size: 20px;
  }
  ul li{
    padding-left: 20px;
  }
  #view{
    padding-left: 50px;
  }
  .col-md-3 offset-md-9{
   margin-bottom: 40px;
  }
  .container{
    margin-left:100px ;
    height: 50px;
    
  }
  .card{
   margin-top: 15px;
   border-radius: 10px;
  border-color: gray;
  
  
  
  }
  #logout{
    background-color: skyblue;
    color: white;
    border-radius: 10px;
    padding: 6px;
    font-style: italic;
    font-weight: 600;
  }
  .page{
   
    padding-left: 1200px;
    margin-right: 300px;
  }
  #slideShowLeft {
    float: left;
    display: inline;
    width: 40%;
  }
  
  .carousel-caption{
    margin-bottom: 150px;
    float: left;
  color:white;
   display: inline;
  }
  .card1{
    border-style: groove;
   margin-left: 420px;
    
  }
  .card2{
    border-style: groove;
    margin-left: 100px;
  }
  .card3{
    border-style: groove;
   margin-left: 100px;
    
  }
  
  
  
  body{
    margin-top: 200px;
    
    
  }
  
  
  