<div class="row content-box">
  <div class="col-md-10">

     <mat-progress-bar *ngIf="loading" mode="indeterminate" class="p-1"></mat-progress-bar> 

    <table class="table table-hover">
      <thead>
        <th>S.N</th>
        <th (click)="sort('employee.firstName')">Employee <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('leaveType.typeName')">Leave Type <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('fromDate')">From Date <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('toDate')">To Date <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('status')">Status <mat-icon>swap_vert</mat-icon>
        </th>
        <th (click)="sort('status')">Reason <mat-icon>swap_vert</mat-icon>
        </th>
        <th>Options</th>
      </thead>
      <tbody >
        <ng-container *ngIf="employeeData.position=='admin' || employeeData.position=='hr'; else elsecondition" >
        <tr *ngFor="let leaverequest of employeeLeaveData | paginate: { itemsPerPage: size, currentPage: currentPage,  totalItems: totalElements }; let i = index">
          <td>{{i+1}}</td>
          <ng-container *ngFor="let empData of allEmployees">
            <ng-container *ngIf="leaverequest.empId==empData.empId">
          <td><a routerLink='/home/employees/list/{{leaverequest.empId}}'>
              {{empData.empname}}
            </a></td>
            </ng-container>
          </ng-container>
          <td>{{leaverequest.leaveType}}</td>
          <td>{{leaverequest.dateFrom}}</td>
          <td>{{leaverequest.dateTo}}</td>
          <td [ngClass]="(leaverequest.status=='APPROVED')?'text-success':'text-danger'">{{leaverequest.status}}</td>
          <td>{{leaverequest.description}}</td>
          <td><a routerLink="/home/leaverequests/details/{{leaverequest.id}}">
              <button mat-raised-button>View</button></a></td>
        </tr>
      </ng-container>
      <ng-template #elsecondition>
      <tr *ngFor="let leaverequest of employeeLeaveData | paginate: { itemsPerPage: size, currentPage: currentPage,  totalItems: totalElements }; let i = index">
        <td>{{i+1}}</td>
        
        <td><a routerLink='/home/employees/list/{{leaverequest.empId}}'>
            {{employeeData.empname}}
          </a></td>
        <td>{{leaverequest.leaveType}}</td>
        <td>{{leaverequest.dateFrom}}</td>
        <td>{{leaverequest.dateTo}}</td>
        <td [ngClass]="(leaverequest.status=='APPROVED')?'text-success':'text-danger'">{{leaverequest.status}}</td>
        <td>{{leaverequest.description}}</td>
        <td><a routerLink="/home/leaverequests/details/{{leaverequest.id}}">
            <button mat-raised-button>View</button></a></td>
      </tr>
    </ng-template>
      </tbody>
    </table>

    <div class="row col-md-12 mt-4">
      <!-- <div class="col-md-auto">
        <span *ngIf="leaveRequests" class="table-details">Showing {{(currentPage-1) * size +1}} to {{(currentPage-1) *
          size
          + numberOfElements }} of {{totalElements}}</span>
      </div> -->
      <div class="col">
        <pagination-controls class="float-right" (pageChange)="getPage($event)"></pagination-controls>
      </div>
    </div>

  </div>
</div>