* {
  color: rgb(83, 4, 83);

}
<<<<<<< HEAD

.custom {
  width: 90%;
  height: 800px;
=======
.custom{
width: 90%;

>>>>>>> f2688e6484124b9ba1467097f7342ae2703aedfa
  background: linear-gradient(270deg, #FFFFFF 69.85%, rgba(255, 255, 255, 0.65) 88.24%, rgba(217, 217, 217, 0) 111.76%);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(83, 4, 83);
  font-size: 13px;
}

button {
  background-color: rgb(83, 4, 83);
  color: aliceblue;
}

.form-content {
  margin-left: 100px;
}

optgroup {
  font-size: 3px;
}

option:first-of-type {
  display: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.file-input-label {
  padding: 0px 10px;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

hr {
  float: left;
  height: 1px;
  width: 100%;
  background-color: #712C6B;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(0, 0, 0, 0.7); */
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  bottom: 5px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;

}

/* .popup .close:hover {
  color: #06D85F;
  cursor: pointer;
} */
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {

  .popup {
    width: 70%;
  }
}
