*{
    color: rgb(83, 4, 83);
    
}

.custom{
  width: 100%;
}


  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(83, 4, 83);
    font-size: 13px;
  }

  button{
    background-color:  rgb(83, 4, 83);
    color: aliceblue;
  }
   optgroup{
    font-size: 3px;
  } 
  option:first-of-type {
    display: none;
  }