*{
    color: rgb(83, 4, 83);

}

.custom{
  width: 100%;
  overflow-y: scroll;
    height: 780px;
    /* background: linear-gradient(270deg, #FFFFFF 69.85%, rgba(255, 255, 255, 0.65) 88.24%, rgba(217, 217, 217, 0) 111.76%); */
}

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(83, 4, 83);
    font-size: 13px;
  }

  button{
    background-color:  rgb(83, 4, 83);
    color: aliceblue;
  }
   optgroup{
    font-size: 3px;
  }
  option:first-of-type {
    display: none;
  }
