<div class="container border">

<div class="row mt-1">

    <div class="col-1">
        <div class="user-pic">
            <img class="img-responsive img-rounded" src="assets/user.jpg" alt="User picture">
          </div>
    </div>
    <div class="col-3">
      <h6>Employee Name</h6>
      <h6>#001</h6>
    </div>
    
    <div class="col  border">
    <div class="form-group float-right">
    

      
      <input type="file" name="file" id="file" class="input-file">
    
      <label for="file" class="btn btn-tertiary js-labelFile">
    
        <i class="icon fa fa-camera"></i>
    
        <span class="js-fileName ml-2">Choose a file</span>
    
      </label>

    </div>
</div>
</div>

<div class="row">
    <h6><b>Employee Information</b></h6>

</div>

</div>