<div class="container d-flex justify-content-center align-items-center ">
  <div class="position-relative">
    <div class="card p-2 text-center mt-1 mb-3">
      <h6>Please enter the one time password <br> to verify your account</h6>
      <ng-otp-input (onInputChange)="onOtpChange($event)"
        *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
      <button class="btn mt-3 border validate" (click)="onValidate()">Validate</button><br>
      <p> <span>{{transform(counter)}}</span>

        <a (click)="resendOtp()" class="text-decoration-none ms-3 ">Resend</a></p>
    </div>
  </div>


  <div class="overlay " *ngIf="popup">
    <div class="popup mt-5" class="reveal-modal">


      <div class="content ">
        <div class="container col-md-8 ">
          <h2 class=" mt-5 mb-3 form-title border-bottom"> Reset Password </h2>
          <div class=" container col-md-12 fixed">
            <div class="row justify-content-center align-items-center ">
              <div class="col-md-10 ">
                <form style="margin-bottom: 100px;"
                  [formGroup]="ResetpasswordForm"
                  (ngSubmit)="onSubmit()">
                  <div class="row mb-4">
                    <div class="col-8">
                      <h2 class="font-weight-bold" style="color:#712C6B
                        ;">Change Password</h2><hr
                        style="border: 1px solid #712C6B;">
                    </div>
                  </div>
                  <div class="mb-3 text-danger col-8" *ngIf="error">
                    Unable to update the password. The value provided for the
                    new
                    password
                    does not meet the length, complexity, or history
                    requirements of the
                    domain.
                  </div>
                  <label for="password" class="form-label h6"
                    style="color: #712C6B;">Old Password</label>
                  <input type="password" class="form-control"
                    id="oldPassword"
                    style="border: 1px solid #712C6B;color:
                    #712C6B;"
                    formControlName="oldPassword"
                    placeholder="Enter old Password"
                    [ngClass]="{'is-invalid':submitted &&
                    f['oldPassword'].errors}"
                    />
                  <div *ngIf="submitted && f['oldPassword'].errors"
                    class="invalid-feedback">
                    <div *ngIf="f['oldPassword'].errors['required']">
                      Old Password is required
                    </div>
                  </div>

                  <label for="NewPassword" class="form-label h6"
                    style="color: #712C6B;">New Password</label>
                  <input type="password" class="form-control"
                    id="NewPassword"
                    style="border: 1px solid #712C6B;color:
                    #712C6B;"
                    formControlName="NewPassword"
                    placeholder="Enter password"
                    [ngClass]="{'is-invalid':submitted &&
                    f['NewPassword'].errors}"
                    />
                  <div *ngIf="submitted && f['NewPassword'].errors"
                    class="invalid-feedback">
                    <div *ngIf="f['NewPassword'].errors['required']">
                      Password is required
                    </div>
                    <div
                      *ngIf="f['NewPassword'].errors['OldPasswordValidator']">Old
                      Passsword
                      and
                      New Password is same. </div>
                  </div>
                  <label for="ConfirmPassword" class="form-label h6 mt-3"
                    style="color:
                    #712C6B;">Confirm
                    Password</label>
                  <input type="password" class="form-control"
                    formControlName="ConfirmPassword" style="border: 1px solid
                    #712C6B;color:
                    #712C6B;">
                  <div *ngIf="submitted && f['ConfirmPassword'].errors"
                    class="alert
                    alert-danger">
                    <div *ngIf="f['ConfirmPassword'].errors?.['required']">Confirm
                      Password is required</div>
                    <div
                      *ngIf="f['ConfirmPassword'].errors?.['confirmPasswordValidator']">Passsword
                      and
                      Confirm Password didn't match. </div>
                  </div>
                  <br>
                  <button class="btn btn-primary ml-5" type="submit">Save
                    Password</button>

                </form>
              </div>
            </div>
          </div></div></div>

    </div>
