<div class="container col-md-11 " style="color: #712C6B">
  <div class="row">
    <div class="col col-md-2 para1 mt-4 font-weight-bold">
      Change Password
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col col-sm-1">
      <img
        src="\assets\images\thumbnail_healthicons_ui-user-profile-negative.png"
        alt="profile" class="profile-image mb-1">
    </div>
    <div class="col-sm-2">
      <p class="h6">{{name}}</p>
      <p class="h6">frontdesk</p>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-sm-4 mt-5">
      <form action="">
        <label for="password" class="form-label h6"
          style="color: #712C6B;">Password</label>
        <input type="password" class="form-control"
          id="password"
          style="border: 1px solid #712C6B;color:
          #712C6B;"
          formControlName="password"
          placeholder="Enter password"/>
        <label for="name" class="form-label h6 mt-3" style="color: #712C6B;">Confirm
          Password</label>
        <input type="password" class="form-control"
          formControlName="confirmPassword" style="border: 1px solid
          #712C6B;color:
          #712C6B;">
        <div class="text-center text-lg-start mt-4 mb-5">
          <button class="btn btn-block fa-lg
            gradient-custom-1 text-light "
            style="background-color: #712C6B;font-weight:
            bold;" type="submit">Reset password</button>
        </div>
      </form>
    </div>
  </div>
