<div id="carouselExampleSlidesOnly" class="carousel carousel-fade nav-side-menu border" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 " src="assets\images\female-doctor-with-smart-glasses-touching-virtual-screen-medical-technology (1).jpg" alt="image" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets\images\successful-medical-team.jpg" alt="image" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets\images\v870-tang-36.jpg" alt="image" >
      </div>
    </div>
  </div>