.navbar{
    border-bottom:1px solid black ;
    height:74px;
}
  .navbar a{
    float:right;
    margin-right: 50px;
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    color: #000;
  }