

<div class=" container col-md-11">

  <div class="row ">
    <div class="col para1 mt-5">
      Front Desk Employees
    </div>

    <div class="col-4 mt-5">
      <a routerLink="/frontdesk/frontdesk-registration"><h3 class="style"><img
            src="\assets\images\ant-design_plus-circle-outlined.png"
            style="width: 25px; border-radius: 5px;">AddNew FrontDesk Employees</h3></a>
    </div>
  </div><hr>
  <div class="row mt-4 mb-3 ml-5">
    <div class="col-md-3 has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" [(ngModel)]="model.First_Name" class="form-control"
        placeholder="FirstName...">
    </div>
    <div class="col-md-3 has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text"[(ngModel)]="model.Last_Name" class="form-control"
        placeholder="LastName...">
    </div>
    <div class="col-md-3 ">
      <select class="form-select" aria-label="Default select example">
        <option selected="" disabled>Choose ...</option>
        <option value="1">Upmc</option>
        <option value="2">Apolo</option>
        <option value="3">Medicover</option>
      </select>
    </div>
  </div>
  <hr>
  <div *ngFor="let frontdeskData of frontDesKList | frontdeskpipe: model |
    paginate:{id:'listing_pagination',itemsPerPage:1,currentPage:page,totalItems:totalRec}
    let i= index ">
    <a (click)="troggle(frontdeskData.id)">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>First Name</th>
            <th>LastName</th>
            <th>Dob</th>
            <th>SocialSecurityNumber</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{frontdeskData.First_Name}}</td>
            <td>{{frontdeskData.Last_Name }}</td>
            <td>{{frontdeskData.Date_of_birth }}</td>
            <td>{{frontdeskData.Ssn}}</td>
          </tr>
          <tr>
            <th>Email </th>
            <th>contactNumber</th>
            <th>Address</th>
            <th>Created on</th>
          </tr>
          <tr>
            <td>{{frontdeskData.Email | uppercase}}</td>
            <td>{{frontdeskData.Contact_number}}</td>
            <td class="col-3">{{frontdeskData.Address_Line1 | uppercase}},<br>{{frontdeskData.City}},
              {{frontdeskData.State}} <br> {{frontdeskData.Country}} -
              {{frontdeskData.Zipcode}}</td>
            <td>{{frontdeskData.created_at | date}}</td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
    </a>


    <div class="row mb-5" *ngIf="dropdown[frontdeskData.id]">
      <!-- <div class="ml-3 col-2">
      <button  class="btn btn-primary" routerLink="/frontdesk/frontdesk-registration/{{frontdeskData.id}}" >Edit Patient Details</button>
      </div> -->

    <div *ngIf="dropdown[frontdeskData.id]">
      <div class="buttons  ">
          <a  class="btn  ml-md-auto d-none d-md-flex col-md-3 active p-3  mx-5" role="button" aria-pressed="true" routerLink="/frontdesk/frontdesk-registration/{{frontdeskData.id}}" >Edit Front Desk Employee</a><br>
          <br>
        </div>
  </div>

  </div>

  <pagination-controls id="listing_pagination" [maxSize]="5 "
    [directionLinks]="true" (pageChange)="page= $event">
  </pagination-controls>
</div>
