<div class="container">
  <div class="card">
    <div class="col-sm-6 mt-2 ml-3">
      <h3>
        Permanent Address
      </h3>
    </div>
    <form class="row g-3 mt-1">

      <div class="col-sm-5 ml-5">
        <label class="d-block mb-4">
          <span class="form-label d-block">Your name</span>
          <input
            name="name"
            type="text"
            class="form-control"
            placeholder="Joe Bloggs"
            />
        </label>
      </div>
      <!-- <div class="col-sm-5 ml-5">
        <label class="d-block mb-4">
          <span class="form-label d-block">Address line 1</span>
          <input
            name="address1"
            type="text"
            class="form-control"
            placeholder=""
            />
        </label>
      </div> -->
      <div class="col-sm-5 ml-5">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress"
          placeholder="1234 Main St">
      </div>
      <div class="col-sm-5 ml-5">

        <label class="d-block mb-4">
          <span class="form-label d-block">Address line 2</span>
          <input
            name="address2"
            type="text"
            class="form-control"
            placeholder=""
            />
        </label>
      </div>
      <div class="col-sm-5 ml-5">
        <label class="d-block mb-4">
          <span class="form-label d-block">City</span>
          <input name="city" type="text" class="form-control" placeholder="" />
        </label>
      </div>
      <div class="col-sm-5 ml-5">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-sm-5 ml-5">
        <label class="d-block mb-4">
          <span class="form-label d-block">Zip/Postal code</span>
          <input name="zip" type="text" class="form-control" placeholder="" />
        </label>
      </div>
      <div class="col-sm-5 ml-5">
        <label class="d-block mb-4">
          <span class="form-label d-block">Country</span>
          <input
            name="country"
            type="text"
            class="form-control"
            placeholder=""
            />
        </label>
      </div>
      <div class="col-sm-5 ml-5">
        <label class="d-block mb-4">
          <span class="form-label d-block">Telephone</span>
          <input
            name="telephone"
            type="text"
            class="form-control"
            placeholder=""
            />
        </label>
      </div>
      <!-- <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary px-3 rounded-3">
          Save
        </button>
      </div> -->
    </form>
  </div>
</div>
