<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Template</title>
</head>
<body>

<h3 th:text="${'Dear '+ empName+','}">,</h3>

<h5>Welcome to Northface! Northface provides you access to your Payslips, Reimbursements, Tax Calculations and other compensation-related information right from your desk.</h5>

<p th:text="${'Your username is  : ' + empId}"></p>
 

<h5>To generate your Northface password, click here or paste the following link into your browser:
https://localhost:4200/password-generation</h5>

<h5>After changing the password, you can login using this link: https://localhost:4200/ </h5>


<h5>If you have any trouble logging in or using the application, write to us at hr@northfacein.com. We will revert to you and help you with your queries.</h5>



</body>
</html>
