

<div class="container col-md-11 ">

  <div class="row ">
    <div class="col para1 mt-5">
      New Patient data has been Added
    </div>
  </div><hr>
  <table class="table table-borderless  row1 ">
    <thead>
      <tr>
        <th>First Name</th>
        <th>LastName</th>
        <th>Dob</th>
        <th>SocialSecurityNumber</th>
        <th>Email </th>
        <th>contactNumber</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{patientList.First_Name}}</td>
        <td>{{patientList.Last_Name}}</td>
        <td>{{patientList.Date_of_birth}}</td>
        <td>{{patientList.Ssn}}</td>
        <td>{{patientList.Email_address}}</td>
        <td>{{patientList.Contact_Number}}</td>
      </tr>
      <tr>
        <th class="col-2">Address</th>
        <th>Created on</th>
        <th>Updated on</th>
        <th>Created By</th>
        <th>Updated By</th>

      </tr>
      <tr>
        <td>{{patientList.Address_Line1}}{{patientList.Address_Line2}},
          {{patientList.City}},{{patientList.state}} <br>
          {{patientList.Country}} - {{patientList.Zipcode}}</td>
        <td>{{patientList.created_at }}</td>
        <td>{{patientList.updated_at}}</td>
        <td>{{patientList.Created_by }}</td>
        <td>{{patientList.Last_updated_by}}</td>
      </tr>
    </tbody>
  </table>

  <div class="row mb-5" >
    <div class="ml-3 col-3">
    <button  class="btn btn-primary" routerLink="/patient/new/{{patientList.id}}" >Edit Patient Details</button>
    </div>
    <div class="col-6 ">
    <button  class="btn btn-primary ml-md-auto  d-md-flex col-7 d-flex justify-content-center " routerLink="/patient/survey-form/{{patientList.id}}">Add New PPT Survey Form</button>
    <button  class="btn btn-primary ml-md-auto  d-md-flex mt-3 col-7 d-flex justify-content-center" routerLink="/patient/patient-profile/{{patientList.id}}">View in Patient Profile</button>
    <button  class="btn btn-primary ml-md-auto  d-md-flex mt-3 col-7 d-flex justify-content-center " routerLink="/patient/new">Cancel</button>
  </div>
  </div>

  <!-- <div class="buttons mt-5">
    <a class="btn col-md-4 active p-3 mt-5 mx-5" role="button"
      aria-pressed="true" routerLink="/patient/survey-form/{{patientList.id}}">Add
      New PPT Survey Form</a><br>
    <a class="btn col-md-4 active p-3 mt-3 mx-5 " role="button"
      aria-pressed="true">View in Patient Profile</a><br>
    <a class="btn col-md-4 active p-3 mt-3 mx-5" role="button"
      aria-pressed="true">Cancel</a>
    <br>
  </div> -->
