.header{ 
    position: sticky;
    top: 0;
    height: 50px;
    z-index: 999;
    /* background: linear-gradient(270deg, #FFFFFF 69.85%, rgba(255, 255, 255, 0.65) 88.24%, rgba(217, 217, 217, 0) 111.76%); */
    margin-top: 0px;
    background-color: #fff;
    }
.btn{
    background-color: #712C6B;
}
table{
    background-color: #712C6B;
    color: #FFFFFF;
    width: 1050px;
    
}   
@media screen and (max-width: 1400px) {
    table{
        background-color: #712C6B;
        color: #FFFFFF;
        width: 850px;
        }
  }
h3 {
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    
    /* identical to box height */
    letter-spacing: 0.05em;
    
    color: #712C6B;
}
hr{
    border: 1px solid #712C6B;
    font-weight: 1000;
}
.style{
    text-decoration: underline;
}
.para1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 23px;
    letter-spacing: 0.05em;
    
    color: #712C6B;
}
a{
    cursor: pointer;
}

.input-group{
    outline:1px black;
    border-radius: 5px;
}
/* input[type="search"], button, date {

    outline: 1px solid #712C6B;
  
  }
  input[type="date"] {

    outline: 1px solid #712C6B;
  
  } */

  /* enable absolute positioning */
  .has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}