
<div class="row w-100">
  <div class="col para1 mt-5 ml-5">
    Admin List
  </div>

  <div class="col-4 mt-5">
    <a routerLink="/admin/admin-registration"><h3 class="style ml-5"><img
      src="\assets\images\ant-design_plus-circle-outlined.png"
      style="width: 25px; border-radius: 5px;">Add New Admin</h3></a>
  </div>
  <hr>
</div>

<div class=" container col-md-11">
    <!-- <div class="col-3 ">
      <a routerLink="/admin/admin-registration"><h3 class="style "><img
            src="\assets\images\ant-design_plus-circle-outlined.png"
            style="width: 25px; border-radius: 5px;" >AddNew Admin</h3></a>
    </div> -->
  
  <div class="row mt-4 mb-3">
    <div class="col-md-3 has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" [(ngModel)]="model.First_Name" class="form-control"
        placeholder="FirstName...">
    </div>
    <div class="col-md-3 has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text"[(ngModel)]="model.Last_Name" class="form-control"
        placeholder="LastName...">
    </div>
    
    
  </div>
  <hr>
  <div *ngFor="let adminList of posts | advanceSearch: model |
    paginate:{id:'listing_pagination',itemsPerPage:1,currentPage:page,totalItems:tatalRec}
    let i= index ">
    <a (click)="troggle(adminList.id)">
      <table class="table table-borderless ">
        <thead>
          <tr>
            <th>Admin ID</th>
            <th>First Name</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>Immediate Manager</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{adminList.id }}</td>
            <td>{{adminList.First_Name }}</td>
            <td>{{adminList.Last_Name }}</td>
            <td>{{adminList.Gender }}</td>
            <td>{{adminList.Immidiate_manager }}</td>
          </tr>
          
          <!-- <tr>
            <th>Email </th>
            <th>contactNumber</th>
            <th>Address</th>
            <th>Created on</th>

          </tr>
          <tr>
            <td>{{adminList.Email | uppercase}}</td>
            <td>{{adminList.Contact_number}}</td>
            <td class="col-3">{{adminList.Address_Line1 | uppercase}},{{adminList.Address_Line1}}<br>{{adminList.City}},
              {{adminList.State}} <br> {{adminList.Country}} -
              {{adminList.Zipcode}}</td>
            <td>{{adminList.created_at }}</td>
          </tr> -->
         
        </tbody>
      </table>
    </a>

    
     <!-- <div class="row mb-5" *ngIf="dropdown[adminList.id]">
       <div class="ml-3 col-2">
      <button  class="btn btn-primary" routerLink="/frontdesk/frontdesk-registration/{{frontdeskData.id}}" >Edit Patient Details</button>
      </div> 
-->
    <div *ngIf="dropdown[adminList.id]">
      <div class="buttons  ">
          <a  class="btn  ml-md-auto d-none d-md-flex col-md-3 active p-3  mx-5" role="button" aria-pressed="true" routerLink="/admin/admin-registration/{{adminList.id}}" >Edit Front Desk Employee</a><br>
          <br>
        </div>
  </div>

  <pagination-controls id="listing_pagination" [maxSize]="5 "
    [directionLinks]="true" (pageChange)="page= $event">
  </pagination-controls>
</div>
</div>
