<div class=" container col-md-10 ">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 col-lg-6 " style="margin-top: 100px; margin-bottom:
        105px;margin-left: 300px;">
        <form style="margin-bottom: 100px;" (ngSubmit)="onSubmit()"
          class="needs-validation ml-5 " novalidate
          [formGroup]="loginFormGroup">
  
          <div class="row mb-4">
            <div class="col-8">
              <h2 class="font-weight-bold" style="color:#712C6B
                ;">Change Password</h2><hr
                style="border: 1px solid #712C6B;">
            </div>
          </div>
           <div class="mb-3 text-danger col-8" *ngIf="error">
            Unable to update the password. The value provided for the new password does not meet the length, complexity, or history requirements of the domain.
           </div>

          <!-- <div class="row mb-4">
            <div class="col-8">
              <label for="email" class="form-label h6" style="color:
                #712C6B;">User Name</label>
              <input type="text" class="form-control"
                style="border: 1px solid
                #712C6B;color: #712C6B;" id="email"
                placeholder="Enter UserName"
                formControlName="UserName"
                [ngClass]="{'is-invalid':submitted && f['UserName'].errors}">
              <div *ngIf="submitted && f['UserName'].errors"
                class="invalid-feedback">
                <div *ngIf="f['UserName'].errors['required']">User Name is
                  required.</div>
              </div>
            </div>
          </div> -->
          <div class="row mb-3">
            <div class="col-8">
              <label for="password" class="form-label h6"
                style="color: #712C6B;">Old Password</label>
              <input type="password" class="form-control"
                id="oldPassword"
                style="border: 1px solid #712C6B;color:
                #712C6B;"
                formControlName="oldPassword"
                placeholder="Enter old Password"
                [ngClass]="{'is-invalid':submitted && f['oldPassword'].errors}"
                />
              <div *ngIf="submitted && f['oldPassword'].errors"
                class="invalid-feedback">
                <div *ngIf="f['oldPassword'].errors['required']">
                    Old Password is required
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-8">
              <label for="password" class="form-label h6"
                style="color: #712C6B;">New Password</label>
              <input type="password" class="form-control"
                id="NewPassword"
                style="border: 1px solid #712C6B;color:
                #712C6B;"
                formControlName="NewPassword"
                placeholder="Enter New Password"
                [ngClass]="{'is-invalid':submitted && f['NewPassword'].errors}"
                />
              <div *ngIf="submitted && f['NewPassword'].errors"
                class="invalid-feedback">
                <div *ngIf="f['NewPassword'].errors['required']">
                    New Password is required
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-8">
              <label for="password" class="form-label h6"
                style="color: #712C6B;">Confirm Password</label>
              <input type="password" class="form-control"
                id="ConfirmPassword"
                style="border: 1px solid #712C6B;color:
                #712C6B;"
                formControlName="ConfirmPassword"
                placeholder="Enter Confirm Password"
                [ngClass]="{'is-invalid':submitted && f['ConfirmPassword'].errors}"
                />
              <div *ngIf="submitted && f['ConfirmPassword'].errors"
                class="invalid-feedback">
                <div *ngIf="f['ConfirmPassword'].errors['required']">
                    Confirm Password is required
                </div>
                <div
              *ngIf="f['ConfirmPassword'].errors?.['confirmPasswordValidator']">Passsword
              and
              Confirm Password didn't match. </div>
         
              </div>
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 p-2 col-8">
            <div class="text-center mb-5 pb-1">
              <button class="btn btn-block fa-lg
                gradient-custom-1 text-light "
                style="background-color: #712C6B;font-weight:
                bold;" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
