
<div class="row w-100">
  <div class="col para1 mt-5 ml-5">
    Patient List
  </div>

  <div class="col-4 mt-5">
    <a routerLink="/patient/new"><h3 class="style ml-5"><img
      src="\assets\images\ant-design_plus-circle-outlined.png"
      style="width: 25px; border-radius: 5px;">AddNew Patient</h3></a>
  </div>
</div>
<div class=" container col-md-11 ">
  <hr>
  <div class="row mt-4 mb-3">
    <div class="col-md-3 has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" [(ngModel)]="model.First_Name" class="form-control"
        placeholder="FirstName...">
    </div>
    <div class="col-md-3 has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text"[(ngModel)]="model.Last_Name" class="form-control"
        placeholder="LastName...">
    </div>
    <div class="col-md-3 has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="date" [(ngModel)]="model.Date_of_birth" class="form-control">
    </div>
    <div class="col-md-3 has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" [(ngModel)]="model.Ssn" class="form-control"
        placeholder="Ssn Number...">
    </div>
  </div>
  <hr>
  <div *ngFor="let patientList of posts | advanceSearch: model let i= index ">
    <a (click)="click(patientList.id)">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>First Name</th>
            <th>LastName</th>
            <th>Dob</th>
            <th>SocialSecurityNumber</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{patientList.First_Name }}</td>
            <td>{{patientList.Last_Name }}</td>
            <td>{{patientList.Date_of_birth }}</td>
            <td>{{patientList.Ssn }}</td>
          </tr>
          <tr>
            <th>Email </th>
            <th>contactNumber</th>
            <th>Address</th>
            <th>Created on</th>

          </tr>
          <tr>
            <td>{{patientList.Email_address | uppercase}}</td>
            <td>{{patientList.Contact_Number}}</td>
            <td class="col-3">{{patientList.Address_Line1 | uppercase}},{{patientList.Address_Line1}}<br>{{patientList.City}},
              {{patientList.State}} <br> {{patientList.Country}} -
              {{patientList.Zipcode}}</td>
            <td>{{patientList.created_at }}</td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
    </a>
</div>
</div>