<div class="container col-md-10 text-center">
  <div class="row ml-5 ">
    <div class="col" style="margin-top: 100px;margin-left: 300px;">
      <button class="btn btn-block border fa-lg col-md-5 p-2
        gradient-custom-2 text-light"
        style="background-color: #712C6B;font-weight:
        bold;" type="button" [routerLink]="['/patient/new']"><h2
          class="mt-1">New Patient</h2> <div
          class="mt-1"><img
            class="img-fluid"
            src="assets\images\fluent_add-circle-28-regular.png" alt=""
            style="width: 20%;"></div></button>
    </div>
  </div>
  <div class="row ml-5">
    <div class="col" style="margin-top: 70px;margin-left:
      300px;"[ngStyle]="{'margin-bottom':(role!=='admin') ? '40%':'0%'}">
      <button class="btn btn-block border fa-lg col-md-5 p-2
        gradient-custom-2 text-light"
        style="background-color: #712C6B;font-weight:
        bold;" type="button" [routerLink]="['/patient/list']"><h2
          class="mt-1">Patient List</h2> <div
          class="mt-1"><img
            class="img-fluid"
            src="assets\images\fluent_clipboard-bullet-list-ltr-16-regular.png"
            alt=""
            style="width: 20%;"></div></button>
    </div>
  </div>
  <div class="row ml-5" *ngIf="role==='admin'">
    <div class="col" style="margin-top: 70px; margin-bottom: 40%;margin-left:
      300px;">
      <button class="btn btn-block border fa-lg col-md-5 p-2
        gradient-custom-2 text-light"
        style="background-color: #712C6B;font-weight:
        bold;" type="button"
        [routerLink]="['/frontdesk/frontdesklist']"><h2
          class="mt-1">Front Desk</h2> <div
          class="mt-1"><img
            class="img-fluid"
            src="assets\images\wpf_add-user.png"
            alt=""
            style="width: 20%;"></div></button>
    </div>
  </div>
</div>
