* {
  color: #712C6B;
}

.navbar {
  height: 74px;
  margin-top: 8px;
  margin-left: 10%;
}

.dropdown {
  margin-right: 80px;
}
.cos{

  font-size: 20px;

  text-decoration: underline;

  border-color: #712C6B;

  padding: 5px;

  margin-bottom: 16px;

}

.ll{

  font-size: 13px;

}
