* {
  color: #712C6B;

}

.navbar {
  height: 70px;
  margin-top: 8px;
  margin-left: 10%;

<<<<<<< HEAD

=======
}
.dropdown {
  margin-right: 80px;
}
>>>>>>> 406d7c7e8c24334b66e3aaad3f856b67f74f1757
.cos{

  font-size: 20px;

  text-decoration: underline;

  border-color: #712C6B;

  padding: 5px;

  margin-bottom: 16px;

}
<<<<<<< HEAD
.drop{
  left: -110px;
  border: #712C6B 1px solid;
  color:#712C6B;
  border-radius: 10px;
  width: 300px;
=======

.ll{

  font-size: 13px;

>>>>>>> 406d7c7e8c24334b66e3aaad3f856b67f74f1757
}
