<nav class="navbar fixed-top ">
  <img src="assets\images\PPT-logo 1000px.png" alt="" style="width: 150px;"
    class="ml-5 ">
  <div class="ml-md-auto d-none d-md-flex mr-4 mt-1" style="color:
    #712C6B;">
    <div class="row ">
      <div class="col mt-2 h4 mr-4">
        <p>Welcome</p>
      </div>
      <div class="col dropdown show mt-1">
        <img
          src="\assets\images\thumbnail_healthicons_ui-user-profile-negative.png"
          alt="profile" class="mt-1" style="width: 40px; border-radius: 5px;"
          role="button"
          id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" (click)="false">
        <div class="dropdown-menu dropdown-menu-right mt-3"
          aria-labelledby="dropdownMenuLink" style="color: #712C6B">
          <div class="text-center">
            <img
              src="\assets\images\thumbnail_healthicons_ui-user-profile-negative.png"
              alt="profile" class="mt-1"
              style="width:
              40px; border-radius: 5px;">
            <p class="h5">{{name}}</p>
          </div>
          <hr style="float: left;height: 2px;width:
            280px;background-color:#712C6B">
          <p class="dropdown-item h5" style="font-weight: bold;color: #712C6B;">{{name}}
          </p>
          <div>
            <a class="dropdown-item
              font-weight-bold" (click)="logOut()">Log Out</a></div>
          <a class="dropdown-item" href="#" style="color: #712C6B;">Something
            else
            here</a>
        </div>
      </div>
    </div>
    <span class="mr-5">
      <p class="text mt-1 h5">{{name}}</p>
      <p class="h5">{{pcp}}</p>
    </span>
  </div>
</nav>
