
  <h1><b> Add Employee</b> </h1>
  <h4>New Employee added successfully!</h4>

  <h1> <b>sample</b> </h1>

  <table class="table table-bordered w-50">
    <tr >
        <td><span >EmployeeNo</span>  0011 </td>
        <td><span>DOJ</span>  01-01-2001</td>
    </tr>
    <tr>
        <td><span>Status</span>  0011</td>
        <td> <span>DOB</span>  01-01-2001</td>
    </tr>
    <tr>
        <td> <span>Location</span>  0011</td>
        <td> <span>Department</span>  01-01-2001</td>
    </tr>
    <tr>
        <td> <span>Designation</span>  0011</td>
        <td></td>
    </tr>
  </table>

  <div class="row w-50 ml-5">
    <div class="col-3 mr-2">
        <button mat-raised-button color="primary">Add Another Employee</button>

    </div>
    <div class="col-2">
        <button mat-raised-button color="primary" routerLink="/home/employees/list">View Profile</button>

    </div>

    <div class="col-2">
        <button mat-raised-button color="primary">Close</button>

    </div>

</div>


