<div class="content-box mt-5 ml-5">

  <div mat-tab-nav-bar class="custom-tab " >
   
    <ng-container *ngIf="employeeData.position !='admin'">
    <a mat-tab-link class="nav-link" routerLink="/home/leaverequests/leavebalance" routerLinkActive="active"  >
      <mat-icon>event_note</mat-icon>&nbsp;leave balance</a>
    </ng-container>
      <a mat-tab-link class="nav-link" routerLink="/home/leaverequests/details" routerLinkActive="active">
        <mat-icon>event_note</mat-icon>&nbsp;All Requests</a>
        <ng-container *ngIf="employeeData.position !='admin'">
        <a mat-tab-link class="nav-link" routerLink="/home/leaverequests/new" routerLinkActive="active">
          <mat-icon>add_circle</mat-icon>&nbsp;Request For Leave</a>
        </ng-container>
  </div>
  
  <router-outlet></router-outlet>
</div>
