

<div class="container mt-5 offset-sm-3 ">
  <div class="row   ">
    <div class="col-4">
  <div class="card" style="width: 20rem; height: 15rem;">
    <div class="card-body">
      <h4 class="card-title">Annual Leave</h4>
      
      <h4 class="card-subtitle mt-5 text-muted ml-5">15</h4>
      <p class=" card-text text-muted  ">Leaves</p>
    </div>
  </div>
  </div>
  <div class="col-5">
    <div class="card" style="width: 20rem; height: 15rem;">
      <div class="card-body">
        <h4 class="card-title">Sick Leave</h4>
        <h4 class="card-subtitle mt-5 text-muted ml-5">06</h4>
        <p class=" card-text text-muted  ">Leaves</p>
      </div>
    </div>
    </div>
    
  </div><br><br><br>
  <div class="row   ">
    <div class="col-4">
  <div class="card" style="width: 20rem; height: 15rem;">
    <div class="card-body">
      <h4 class="card-title">Paid Leave</h4>
      <h4 class="card-subtitle mt-5 text-muted ml-5">15</h4>
      <p class=" card-text text-muted  ">Leaves</p>
    </div>
  </div>
  </div>
  <div class="col-5">
    <div class="card" style="width: 20rem; height: 15rem;">
      <div class="card-body">
        <h4 class="card-title">Causual Leave</h4>
        <h4 class="card-subtitle mt-5 text-muted ml-5">06</h4>
        <p class=" card-text text-muted  ">Leaves</p>
      </div>
    </div>
    </div>
    
  </div>
  </div> 
